.modal {
  border-radius: 16px;
  font-size: 20px;
}

.modal__content {
  font-size: 20px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__image {
  width: 100%;
  border-radius: 16px;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 12px;
}

.modal__caption {
  font-size: 24px;
  margin: 0;
}

.modal__weather {
  font-size: 24px;
  margin: 0;
}
