.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  font-family: Cabinet Grotesk;
  font-size: 20px;
}

.weather-card__img {
  width: 100%;
  object-fit: cover;
  object-position: right top;
  height: 80px;
  border-radius: 12px;
  background-color: #00a3ff;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}
