.card {
  grid-template-columns: repeat(auto-fit, 325px);
  opacity: 1;
  display: flex;
  justify-content: center;
  border-radius: 1px;
  position: relative;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  border-radius: 16px;
  border: 1px solid #0000004d;
  cursor: pointer;
}

.card__name {
  height: 24px;
  padding: 0 10px;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #00000099;
  background-color: #fff;
}

.card__img {
  width: 100%;
  height: 328px;
  top: 279px;
  left: 38px;
  opacity: 1;
  border-radius: 16px;
}
