.modal {
  font-family: Cabinet Grotesk;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content_content_confirmation {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__confirmation-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__btns {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__confirmation-btn {
  background: none;
  border: none;
  color: #FF4D00;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.modal__confirm-btn{
   background-color: transparent;
   color: #FF4D00;
   font-weight: 700;
   font-size: 20px;
   border:transparent;
   cursor: pointer;
}

.modal__cancel-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}