.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  font-family: Cabinet Grotesk;

}


.modal_opened {
  visibility: visible;
  opacity: 1;
 
}


.modal__content_type_image {
  width: 498px;
  background: #fff;
  border-radius: 16px;
  position: relative;
  overflow: hidden; 
  padding: 0;
}


.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.modal__image {
  width: 100%;  
  display: block;
  object-fit: cover;
}

.modal__image_type-preview{
padding: 0;

}
.modal__foot {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.modal__foot-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__delete-btn {
  color: #FF4D00;
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
  padding: 0;
}
.modal__caption {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.modal__weather {
  font-size: 20px;
  margin: 0;
  
}
