.footer{
    font-family: Cabinet Grotesk;
    font-size: 16px;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}