.modal {
  font-family: Cabinet Grotesk;
  font-style: bold;
  font-weight: 700;
  background-color: #0000004d;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  width: 496px;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__title {
  margin: 0;
  height: 20px;
  width: 95px;
  font-size: 16px;
  padding-bottom: 24px;
}

.modal__close-btn {
  position: absolute;
  font-size: 16px;
  top: 22px;
  right: 28px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  width: 100%;
  height: 52px;
  padding-bottom: 24px;
}

.modal__input {
  display: block;
  border: none;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 440px;
  margin-top: 8px;
}
.modal__radio-btns {
  max-width: 173px;
  max-height: 108px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
}

.modal__radio-txt {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__submit-btn {
  max-width: 130px;
  max-height: 36px;
  opacity: 1;
  border-radius: 4px;
  padding: 8px 16px;
  background: #0000004d;
  outline: none;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal__radio-input {
  cursor: pointer;
}
